{% extends "__base.html" %}

{% block title %}223C project{% endblock %}

{% block body %}
<style>
    .similar-img {
        max-height: 200px;
    }
</style>
<div id ="app">
    <div class="container">
        <div class="row">
            <h2>223C final project</h2>
        </div>
        <hr/>
        <div v-show="error" class="alert alert-danger">${ error }</div>
        <div class="row">
            <div class="col-md-6">
                <form v-on:submit.prevent="query()">
                    <input ref="file" v-on:change="updateImageFile()" type="file" accept="image/png">
                    <input v-show="submitable()" type="submit" class="btn btn-success" value="Submit" />
                </form>
                <div v-show="image_data">
                    <h4 v-show="!image_point" class="text-danger">Select the node on the canvas</h4>
                    <canvas id="canvas-image-region" v-bind:width="transform_size[0]" v-bind:height="transform_size[1]"></canvas>
                </div>
                <div v-if="result">
                    <h4>Probability: ${ result.probability }</h4>
                    <h4>Filtered image:</h4>
                    <img class="img-responsive similar-img" v-bind:src="'data:image/png;base64,' + result.filtered_img" />
                </div>
            </div>
            <div class="col-md-3">
                <div v-if="result">
                    <h4>Similar images:</h4>
                    <table class="table">
                        <tbody>
                            <tr v-for="image in result.similar_images">
                                <td><strong>${ image.similarity }</strong></td>
                                <td><img class="img-responsive similar-img" v-bind:src="'/similar-images/' + image.name" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var globals = {
        img_transform_size: [227, 227],
    };
</script>
<script src="/static/js/index.js"></script>
{% endblock %}
